body {
  background-color: #fff;
  width: 1500px;
  padding: 0px;
}
header {
  position: relative; /* Để đảm bảo phần tử chứa background có vị trí tương đối */
  height: 100vh; /* Đặt chiều cao bằng 100% chiều cao của viewport */
  padding: 20px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('public/Homepage.png');
  background-size: cover;
  background-position: center center;
  z-index: -1;
}
.image-Elip {
  position: absolute;
  top: 150px;
  left: 1000px;
  z-index: -1;
}
nav {
  border-radius: 5px;
}
.content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 50px;
    color: white;
    width: 1200px;
    height: 500PX;
}
.left-content {
  flex: 1;
  margin-right: 80px;
}
.left-content h1{
  font-size: 80px;
  margin-bottom: 20px;
}
.left-content p{
  font-size: 18px;
  margin-bottom: 30px;
}
.content-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}
.ctbox{
  color: #425066;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 20px;
  width:338px;
  height: 70px;
}
.ctbox-img{
  margin: 10px;
  
}
.ctbox-title h1{
  margin-top: 10px;
  font-size: 18px;
}
.ctbox-title h2{
  font-size: 14px;
  font-weight: lighter;
  color: gray;
}
.search-box {
  margin-top: 20px;
  position: relative;
}
.search-box input {
  width: 500px;
  height: 50px;
  padding: 5px 10px; /* Khoảng cách để chứa ảnh và placeholder */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 40px; /* 40px là khoảng cách để chứa ảnh */
  background-image: url('public/Magnifer.png'); /* Đường dẫn đến ảnh */
  background-repeat: no-repeat;
  background-position: 10px center; /* Vị trí ảnh */
}
.search-box button{
  height: 50px;
  width: 150px;
  border: 1px solid #FA4D04;
  border-radius: 5px;
  background-color: #FA4D04;
  color: #fff;
}
/* Section 2 */
.content-section {
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-block {
  padding: 20px;
}
.text-block h2{
  color: #425066;
  font-size: 60px;
}
.text-block h1{
  color: #FA4D04;
  font-size: 80px;
}
.text-block p{
  color: #425066;
  width: 480px;
  font-size: 20px;
  font-weight: lighter;
}
.block {
  display: flex;
  margin-right: 100px;
}
.image-block {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: space-between;
  gap: 20px;
  margin-left: 20px;
}

.image-box {
  flex: 1;
  text-align: center;
  width: 300px;
  height: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.image-box img {
  max-width: 150px;
  height: 50px;
  margin-top: 10px;
}

.image-box p {
  margin-top: 10px;
  font-size: 14px;
  color: #777777;
  margin: 10px;
}
/* section3 */
.section3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF0EA;
  margin: 40px;
  border-radius: 10px;
}

.section3-box {
  width: 600px;
  margin: 100px;
}

.section3-box h1{
  font-size: 50px;
  color: #151F3C;

}
.search-box p{
  color: #777777;
}

.section3-box button{
  width: 200px;
  height: 50px;
  color: #fff;
  padding: 5px 10px; /* Khoảng cách để chứa ảnh và placeholder */
  border: 1px solid #FA4D04;
  background-color: #FA4D04;
  border-radius: 5px;
  padding-left: 20px; /* 40px là khoảng cách để chứa ảnh */
  background-image: url('public/arrow.png'); /* Đường dẫn đến ảnh */
  background-repeat: no-repeat;
  background-position: 150px center; /* Vị trí ảnh */
}
