* {
  margin: 0;
  padding: 0;
}

.personal-services3,
.property-management-services3 {
  position: absolute;
  top: 189px;
  left: 42px;
}

.personal-services3 {
  top: 265px;
}

.immigration-assistance3,
.property-successioninheritanc3 {
  position: absolute;
  top: 377px;
  left: 42px;
}

.immigration-assistance3 {
  top: 74px;
}

.business-services3,
.will-and-private3 {
  position: absolute;
  top: 228px;
  left: 42px;
}

.business-services3 {
  top: 303px;
}

.property-investment-assistance3 {
  position: absolute;
  top: 340px;
  left: 42px;
}

.right-legal-advice3 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-7xl);
  font-weight: 500;
  font-family: var(--font-poppins);
}

.vector-icon27,
.vector-icon28,
.vector-icon29,
.vector-icon30 {
  position: absolute;
  top: 81px;
  left: 495px;
  width: 10.54px;
  height: 6.25px;
}

.vector-icon28,
.vector-icon29,
.vector-icon30 {
  top: 194px;
}

.vector-icon29,
.vector-icon30 {
  top: 236px;
}

.vector-icon30 {
  top: 275px;
}

.group-child50,
.vector-icon31,
.vector-icon32,
.vector-icon33 {
  position: absolute;
  top: 314px;
  left: 495px;
  width: 10.54px;
  height: 6.25px;
}

.group-child50,
.vector-icon32,
.vector-icon33 {
  top: 348px;
}

.group-child50,
.vector-icon33 {
  top: 385px;
}

.group-child50 {
  top: 110px;
  left: 66px;
  border-radius: var(--br-11xs);
  background-color: var(--color-slateblue);
  width: 20px;
  height: 20px;
}

.vector-icon34 {
  position: absolute;
  height: 2.89%;
  width: 2.81%;
  top: 97.11%;
  right: 83.87%;
  bottom: 0;
  left: 13.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.group-child51 {
  position: absolute;
  top: 150px;
  left: 66px;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border: 2px solid var(--neutral-5);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}

.k-calls-connected6,
.k-calls-connected7 {
  position: absolute;
  top: 153px;
  left: 104px;
  font-size: var(--font-size-mini);
}

.k-calls-connected7 {
  top: 113px;
}

.group-child52,
.group-child53,
.group-child54,
.group-child55,
.group-child56 {
  position: absolute;
  top: 370.5px;
  left: 41.5px;
  border-top: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 477px;
  height: 1px;
}

.group-child53,
.group-child54,
.group-child55,
.group-child56 {
  top: 333.5px;
}

.group-child54,
.group-child55,
.group-child56 {
  top: 296.5px;
}

.group-child55,
.group-child56 {
  top: 257.5px;
}

.group-child56 {
  top: 215.5px;
}

.property-management-services-parent1 {
  position: absolute;
  top: 1800px;
  left: 518px;
  width: 518px;
  height: 494.65px;
  display: none;
  font-size: var(--font-size-lg);
  font-family: var(--body-regular);
}

.group-child57,
.name3 {
  position: absolute;
  top: 0;
  left: 0;
}

.name3 {
  font-weight: 500;
}

.group-child57 {
  border-radius: var(--br-5xs);
  background-color: var(--neutral-1);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 350px;
  height: 50px;
}

.enter-contact-name3 {
  position: absolute;
  top: 17px;
  left: 15px;
}

.rectangle-parent19 {
  position: absolute;
  top: 32px;
  left: 0;
  width: 350px;
  height: 50px;
  color: var(--color-silver);
  font-family: var(--body-regular);
}

.email-parent1,
.name-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 82px;
}

.email-parent1 {
  top: 97px;
}

.contact-number3 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-black);
}

.group-child59 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-1);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 235px;
  height: 50px;
}

.group-child60,
.rectangle-parent21 {
  position: absolute;
  top: 32px;
  left: 120px;
  width: 235px;
  height: 50px;
}

.group-child60 {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-1);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 108px;
}

.vector-icon35 {
  position: absolute;
  height: 2.54%;
  width: 16.12%;
  top: 97.46%;
  right: 7.95%;
  bottom: 0;
  left: 75.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.div3 {
  position: absolute;
  top: 16px;
  left: 9px;
}

.contact-number-parent1,
.rectangle-parent22 {
  position: absolute;
  top: 32px;
  left: 0;
  width: 108px;
  height: 430.61px;
}

.contact-number-parent1 {
  top: 194px;
  width: 355px;
  height: 462.61px;
  color: var(--color-silver);
  font-family: var(--body-regular);
}

.group-parent19 {
  position: absolute;
  top: 1842px;
  left: 691px;
  width: 355px;
  height: 656.61px;
  display: none;
  font-size: var(--font-size-base);
  color: var(--color-black);
}

.group-child61,
.homepage-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 619px;
  object-fit: cover;
}

.group-child61 {
  top: -4px;
  left: 202px;
  border-radius: 50%;
  width: 408px;
  height: 408px;
}

.group-child62 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--neutral-1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  width: 264px;
  height: 75px;
}

.favorite {
  position: absolute;
  top: 8px;
  left: 66px;
  font-weight: 500;
}

.rectangle-parent23 {
  position: absolute;
  top: 268px;
  left: 0;
  box-shadow: 0 0 10px #000;
  width: 264px;
  height: 75px;
}

.telephonic-interview {
  position: absolute;
  top: 9px;
  left: 66px;
  font-weight: 500;
}

.frame-icon {
  position: absolute;
  top: 24px;
  left: 20px;
  width: 26px;
  height: 26px;
}

.rectangle-parent24 {
  position: absolute;
  top: 163px;
  left: 0;
  box-shadow: 0 0 10px #000;
  width: 264px;
  height: 75px;
}

.ti-cv-trc {
  margin: 0;
}

.ti-cv-trc-container {
  position: absolute;
  top: 36px;
  left: 66px;
  line-height: 14px;
}

.group-child65 {
  position: absolute;
  top: 21px;
  left: 23px;
  width: 26px;
  height: 26px;
}

.resume {
  position: absolute;
  top: 13px;
  left: 66px;
  font-size: var(--body-regular-size);
  font-weight: 500;
  color: var(--color-darkslategray-100);
}

.rectangle-parent25 {
  position: absolute;
  top: 58px;
  left: 0;
  box-shadow: 0 0 10px #000;
  width: 264px;
  height: 75px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}

.ellipse-container {
  position: absolute;
  top: 113px;
  left: 636px;
  width: 606px;
  height: 400px;
  font-size: var(--body-regular-size);
}

.tm-kim-vic-container {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  line-height: 140%;
  font-weight: 600;
  font-family: var(--font-poppins);
}

.scaling-your-technology-container {
  position: absolute;
  top: 164px;
  left: 0;
  font-family: var(--font-google-sans);
}

.tm-kim-v1 {
  position: absolute;
  top: 15px;
  left: 45px;
}

.outline-search-magnifer1 {
  position: absolute;
  top: 18px;
  left: 20px;
  width: 14px;
  height: 14px;
  overflow: hidden;
}

.tm-kim-container,
.tm-kim-v-tr-tuyn-dng-group {
  position: absolute;
  top: calc(50% + 99.5px);
  border-radius: var(--br-9xs);
}

.tm-kim-v-tr-tuyn-dng-group {
  left: calc(50% - 256.5px);
  background-color: var(--neutral-1);
  width: 359px;
  height: 51px;
  color: var(--color-darkgray-300);
}

.tm-kim-container {
  left: calc(50% + 119.5px);
  background-color: var(--color-orangered);
  width: 137px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-11xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}

.tm-kim-vic-lm-mi-lc-mi-parent {
  position: absolute;
  top: 169px;
  left: 75px;
  width: 513px;
  height: 301px;
  font-size: var(--font-size-lg);
  color: var(--neutral-1);
  font-family: var(--body-regular);
}

.homepage-item {
  position: absolute;
  height: 0.96%;
  width: 97.66%;
  top: 0.32%;
  right: 1.09%;
  bottom: 98.72%;
  left: 1.25%;
  border-radius: var(--br-9xs);
  background-color: var(--neutral-1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.helping-build-remote3 {
  position: absolute;
  top: 0.91%;
  left: 2.97%;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-google-sans);
  color: var(--color-darkslategray-300);
}

.ng-k {
  position: relative;
  display: inline-block;
  width: 69px;
  flex-shrink: 0;
}

.ng-k-wrapper {
  position: absolute;
  width: 6.09%;
  top: calc(50% - 3094.5px);
  right: 14.92%;
  left: 78.98%;
  border-radius: var(--br-9xs);
  background-color: var(--neutral-1);
  border: 1px solid var(--color-orangered);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-4xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-regular-size);
  color: var(--color-orangered);
}

.ng-nhp3 {
  position: relative;
}

.cng-ty6,
.ng-nhp-wrapper,
.trang-ch3,
.vic-lm3 {
  position: absolute;
  font-size: var(--body-regular-size);
}

.ng-nhp-wrapper {
  width: 7.5%;
  top: calc(50% - 3094.5px);
  right: 5.86%;
  left: 86.64%;
  border-radius: var(--br-9xs);
  background-color: var(--color-darkslategray-200);
  height: 31px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-4xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--neutral-1);
}

.cng-ty6,
.trang-ch3,
.vic-lm3 {
  top: 0.62%;
  font-weight: 500;
}

.trang-ch3 {
  left: 21.56%;
  color: var(--color-orangered);
}

.cng-ty6,
.vic-lm3 {
  left: 29.14%;
}

.cng-ty6 {
  left: 36.17%;
}

.group-child66 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: #e6f9ff;
  box-shadow: 0 0 8px rgba(10, 116, 243, 0.25);
  width: 302px;
  height: 180px;
}

.group-child67,
.rectangle-wrapper5 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 302px;
  height: 180px;
}

.group-child67 {
  top: 0;
  border-radius: var(--br-9xs);
  background-color: #ffebe6;
  box-shadow: 0 0 8px rgba(10, 116, 243, 0.25);
}

.group-child68,
.rectangle-wrapper6 {
  position: absolute;
  top: 250px;
  left: 0;
  width: 302px;
  height: 180px;
}

.group-child68 {
  top: 0;
  border-radius: var(--br-9xs);
  background-color: #fef2e9;
  box-shadow: 0 0 8px rgba(10, 116, 243, 0.25);
}

.removebg-preview-1-icon {
  position: absolute;
  top: 31px;
  left: 16px;
  width: 251px;
  height: 101px;
  object-fit: cover;
}

.group-child69,
.rectangle-parent26 {
  position: absolute;
  top: 0;
  left: 326px;
  width: 302px;
  height: 180px;
}

.group-child69 {
  left: 0;
  border-radius: var(--br-9xs);
  background-color: #eaf3fe;
  box-shadow: 0 0 8px rgba(10, 116, 243, 0.25);
}

.logo-01-1-1 {
  position: absolute;
  top: 30px;
  left: 105px;
  width: 81px;
  height: 79px;
  object-fit: cover;
}

.group-parent21,
.rectangle-parent27 {
  position: absolute;
  top: 200px;
  left: 326px;
  width: 302px;
  height: 180px;
}

.group-parent21 {
  top: 0;
  left: 507px;
  width: 628px;
  height: 430px;
}

.ci-thin-cuc,
.vic-lm-t {
  position: absolute;
  top: 0;
  left: 0;
}

.ci-thin-cuc {
  top: 133px;
  font-size: var(--body-regular-size);
  display: inline-block;
  width: 372px;
  height: 90px;
}

.doanh-nghip {
  position: absolute;
  top: 52px;
  left: 0;
  font-size: 48px;
  font-weight: 600;
  color: var(--color-orangered);
}

.group-parent20,
.vic-lm-t-parent {
  position: absolute;
  top: 95px;
  left: 0;
  width: 372px;
  height: 223px;
}

.group-parent20 {
  top: 570px;
  left: 37px;
  width: 1135px;
  height: 430px;
  font-size: var(--font-size-21xl);
}

.homepage-child1,
.homepage-inner {
  position: absolute;
  top: 1047.5px;
  left: 0.5px;
  border-top: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 1281px;
  height: 1px;
  display: none;
}

.homepage-child1 {
  top: 1615.5px;
}

.frame-child23,
.frame-child24,
.frame-child25 {
  position: absolute;
  top: -142px;
  left: 206.21px;
  border-radius: var(--br-xl);
  background-color: var(--color-orangered);
  width: 53.11px;
  height: 508px;
  transform: rotate(45deg);
  transform-origin: 0 0;
}

.frame-child24,
.frame-child25 {
  top: -141px;
  left: 291.21px;
  width: 2.67px;
}

.frame-child25 {
  top: -248px;
  left: 413.21px;
}

.frame-child26,
.frame-child27 {
  position: absolute;
  top: 190.42px;
  left: 719.42px;
  width: 93.17px;
  height: 93.17px;
}

.frame-child27 {
  top: 39.42px;
  left: 928.42px;
  width: 103.17px;
  height: 103.17px;
}

.tm-kim-nhng {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 50px;
  font-weight: 600;
  display: inline-block;
  width: 443px;
}

.tm-kim-nhng-doanh-nghip-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 443px;
  height: 100px;
}

.khm-ph {
  position: relative;
  font-weight: 500;
}

.material-symbolsarrow-back-ro-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}

.khm-ph-parent {
  position: absolute;
  top: 195px;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-orangered);
  display: flex;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-11xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-lg);
  color: var(--neutral-1);
  font-family: var(--body-regular);
}

.group-parent22 {
  position: absolute;
  top: 58px;
  left: 127px;
  width: 443px;
  height: 249px;
}

.tm-kim-nhng-container {
  position: absolute;
  top: 161px;
  left: 128px;
  font-size: var(--font-size-smi);
  line-height: 16px;
  color: var(--color-gray-200);
  text-align: justify;
}

.homepage-child2,
.rectangle-parent28 {
  position: absolute;
  border-radius: var(--br-5xl);
  overflow: hidden;
}

.rectangle-parent28 {
  top: 1060px;
  left: 66px;
  background-color: rgba(255, 240, 234, 0.6);
  width: 92%;
  height: 335px;
  font-size: var(--font-size-21xl);
  color: var(--dark);
}

.homepage-child2 {
  top: 988px;
  left: 692px;
  width: 503px;
  height: 439px;
}

.homepage-child3,
.homepage-child4 {
  position: absolute;
  top: 2251.5px;
  left: 0.5px;
  border-top: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 1281px;
  height: 1px;
  display: none;
}

.homepage-child4 {
  top: 3108.5px;
}

.homepage-child5,
.image-2-icon {
  position: absolute;
  top: 3638px;
  height: 691px;
}

.image-2-icon {
  left: 0;
  width: 100%;
  object-fit: cover;
  opacity: 0.24;
}

.homepage-child5 {
  left: -1px;
  background-color: var(--neutral-1);
  filter: blur(4px);
  width: 100%;
  opacity: 0.63;
}

.v-sao-li {
  position: absolute;
  top: 2981px;
  left: 427px;
  font-size: var(--font-size-16xl);
  font-weight: 500;
  text-align: center;
}

.homepage-child6 {
  position: absolute;
  top: 4297.5px;
  left: 0.5px;
  border-top: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 1281px;
  height: 1px;
  display: none;
}

.homepage-child7 {
  position: absolute;
  top: 3112px;
  left: 240px;
  border-radius: var(--br-smi);
  background-color: var(--color-coral);
  width: 80px;
  height: 80px;
}

.div4,
.lu-tr {
  position: absolute;
  top: 3202px;
  left: 240px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  color: var(--color-orangered);
  text-align: center;
}

.div4 {
  top: 3244px;
  left: 236px;
  font-size: var(--font-size-26xl);
  color: var(--color-black);
}

.lu-tr-li-container,
.tit-kim-thi-container,
.tm-kim-nhanh-container {
  position: absolute;
  top: 3315px;
  left: 240px;
  font-size: var(--font-size-base);
}

.tit-kim-thi-container,
.tm-kim-nhanh-container {
  top: 3512px;
  left: 594px;
}

.tit-kim-thi-container {
  top: 3306px;
  left: 868px;
}

.homepage-child8 {
  position: absolute;
  top: 3451px;
  left: 482px;
  border-radius: var(--br-smi);
  background-color: var(--color-coral);
  width: 80px;
  height: 80px;
}

.days,
.tc {
  position: absolute;
  top: 3541px;
  left: 481px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  color: var(--color-orangered);
  text-align: center;
}

.days {
  top: 3437px;
  left: 588px;
  font-size: var(--font-size-26xl);
  color: var(--color-black);
}

.homepage-child9 {
  position: absolute;
  top: 3112px;
  left: 868px;
  border-radius: var(--br-smi);
  background-color: var(--color-coral);
  width: 80px;
  height: 80px;
}

.mingcutesandglass-fill-icon {
  position: absolute;
  top: 3128px;
  left: 884px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.hours,
.tit-kim-thi1 {
  position: absolute;
  top: 3202px;
  left: 868px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  color: var(--color-orangered);
  text-align: center;
}

.hours {
  top: 3244px;
  left: 864px;
  font-size: var(--font-size-26xl);
  color: var(--color-black);
}

.plus3 {
  color: var(--color-orangered);
}

.findplus6 {
  position: absolute;
  top: 26px;
  left: 65px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  color: var(--color-gray-300);
}

.charmsquare-tick-icon3 {
  position: absolute;
  top: 26px;
  left: 34px;
  width: 31px;
  height: 31px;
  overflow: hidden;
}

.homepage-child10,
.homepage-child11 {
  position: absolute;
  top: 1463px;
  border-radius: var(--br-81xl);
  height: 50px;
}

.homepage-child10 {
  left: 404px;
  background-color: rgba(47, 72, 88, 0.3);
  width: 566px;
}

.homepage-child11 {
  left: 329px;
  background-color: var(--color-darkslategray-200);
  width: 309px;
}

.dnh-cho-ng,
.dnh-cho-nh1 {
  position: absolute;
  top: 1476px;
  font-size: var(--font-size-base);
  font-weight: 500;
}

.dnh-cho-ng {
  left: 396px;
  color: var(--neutral-1);
}

.dnh-cho-nh1 {
  left: 692px;
}

.chng-ti-cam1,
.dnh-cho-ng1 {
  position: absolute;
  top: 61px;
  left: 0;
  line-height: 50px;
  font-weight: 600;
  display: inline-block;
  width: 586px;
}

.dnh-cho-ng1 {
  top: 0;
  font-size: var(--font-size-xl);
  color: var(--color-orangered);
  width: 479px;
}

.chng-ti-cam-kt-mang-n-cho-group,
.group-child70,
.group-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 586px;
  height: 211px;
}

.group-child70,
.group-frame {
  top: 11px;
  left: 600px;
}

.group-child70 {
  top: 0;
  left: 0;
  width: 542px;
  height: 424px;
  object-fit: cover;
}

.group-parent23 {
  position: absolute;
  top: 1595px;
  left: 28px;
  width: 1186px;
  height: 424px;
  font-size: var(--font-size-18xl);
}

.group-child71 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  object-fit: cover;
}

.group-child72,
.group-child73,
.group-child74 {
  position: absolute;
  top: 88px;
  left: 0;
  border-radius: 14.56px;
  background-color: var(--color-whitesmoke-100);
  width: 196px;
  height: 8px;
}

.group-child73,
.group-child74 {
  top: 107px;
  width: 120px;
}

.group-child74 {
  top: 124px;
  width: 196px;
  height: 9px;
}

.span2 {
  color: var(--color-black);
}

.per-hr5 {
  font-size: var(--body-regular-size);
  color: var(--color-darkgray-100);
}

.per-hr4 {
  position: absolute;
  top: 29px;
  left: 88px;
  line-height: 50px;
  font-weight: 500;
}

.ellipse-parent1 {
  position: absolute;
  top: 10px;
  left: 9px;
  width: 196px;
  height: 133px;
  color: var(--color-mediumseagreen);
}

.frame-child28,
.frame-child29 {
  position: absolute;
  top: 159px;
  left: 9px;
  border-radius: var(--br-6xs);
  background-color: var(--color-whitesmoke-100);
  width: 68px;
  height: 28px;
}

.frame-child29 {
  left: 97px;
}

.emma-wilson1,
.nodejs2,
.nosql2 {
  position: absolute;
  font-weight: 500;
}

.emma-wilson1 {
  top: 5px;
  left: 97px;
  line-height: 50px;
}

.nodejs2,
.nosql2 {
  top: 165px;
  left: 20px;
  font-size: var(--font-size-smi);
  font-family: var(--font-google-sans);
}

.nosql2 {
  top: 164px;
  left: 113px;
}

.group-parent24,
.group-parent25 {
  position: absolute;
  top: 1977px;
  left: 63px;
  border-radius: 5.82px;
  background-color: var(--neutral-1);
  box-shadow: 0 5.823529243469238px 11.65px rgba(0, 0, 0, 0.1);
  width: 220px;
  height: 208px;
  font-size: var(--font-size-base);
}

.group-parent25 {
  left: 320px;
  width: 227px;
}

.homepage-child12 {
  position: absolute;
  top: 1880px;
  left: 628px;
  border-radius: 50%;
  background-color: var(--color-orangered);
  width: 23px;
  height: 23px;
}

.charmtick-icon5 {
  position: absolute;
  top: 1883px;
  left: 631px;
  width: 17px;
  height: 17px;
  overflow: hidden;
}

.bo-mt-v,
.tip-cn-hng,
.tnh-tin-ch {
  position: absolute;
  top: 1878px;
  left: 667px;
  font-weight: 500;
}

.bo-mt-v,
.tnh-tin-ch {
  top: 1927px;
}

.bo-mt-v {
  top: 1976px;
}

.homepage-child13 {
  position: absolute;
  top: 1930px;
  left: 628px;
  border-radius: 50%;
  background-color: var(--color-orangered);
  width: 23px;
  height: 23px;
}

.charmtick-icon6 {
  position: absolute;
  top: 1933px;
  left: 631px;
  width: 17px;
  height: 17px;
  overflow: hidden;
}

.homepage-child14 {
  position: absolute;
  top: 1980px;
  left: 628px;
  border-radius: 50%;
  background-color: var(--color-orangered);
  width: 23px;
  height: 23px;
}

.charmtick-icon7 {
  position: absolute;
  top: 1983px;
  left: 631px;
  width: 17px;
  height: 17px;
  overflow: hidden;
}

.ng-k-ti-khon-ngay-wrapper {
  position: absolute;
  top: 2096px;
  left: 631px;
  border-radius: var(--br-9xs);
  background-color: var(--color-orangered);
  display: flex;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-11xl);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-lg);
  color: var(--neutral-1);
  font-family: var(--body-regular);
}

.frame-child32 {
  position: absolute;
  top: -9px;
  left: 15px;
  background-color: var(--color-snow);
  width: 100%;
  height: 676px;
}

.vic-lm-tt3 {
  position: absolute;
  top: 40px;
  left: 510px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  color: var(--color-orangered);
  text-align: center;
}

.frame-child33,
.group-child79 {
  position: absolute;
  top: 2px;
  left: -1160px;
  border-radius: var(--br-6xs);
  background-color: var(--neutral-1);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 145px;
  height: 121px;
}

.group-child79 {
  top: 0;
  left: 0;
  width: 350px;
}

.job {
  position: absolute;
  top: 20px;
  left: 122px;
  font-weight: 500;
}

.rectangle-parent30 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 350px;
  height: 121px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
}

.deha-logo-removebg-preview-2-icon8 {
  position: absolute;
  top: 16px;
  left: 26px;
  border-radius: var(--br-10xs);
  width: 71px;
  height: 50px;
  object-fit: cover;
}

.company {
  position: absolute;
  top: 46px;
  left: 124px;
  font-size: var(--font-size-smi);
  line-height: 16px;
  color: var(--color-gray-200);
}

.frame-child34,
.frame-child35 {
  position: absolute;
  top: 77px;
  left: 109px;
  border-radius: var(--br-10xs);
  background-color: var(--color-gainsboro-300);
  width: 124px;
  height: 20px;
}

.frame-child35 {
  left: 24px;
  width: 69px;
}

.area,
.salary {
  position: absolute;
  top: 79px;
  left: 34px;
  line-height: 16px;
}

.area {
  left: 125px;
}

.group-parent26,
.toggle-button {
  position: absolute;
  top: 108px;
  left: 90px;
  width: 351px;
  height: 121px;
  overflow: hidden;
}

.toggle-button {
  top: 75px;
  left: 302px;
  border-radius: var(--br-8xs);
  width: 24px;
  height: 24px;
}

.group-parent27,
.group-parent28,
.group-parent29,
.outline-like-heart2 {
  position: absolute;
  top: 269px;
  left: 90px;
  width: 351px;
  height: 121px;
  overflow: hidden;
}

.group-parent28,
.group-parent29,
.outline-like-heart2 {
  top: 430px;
}

.group-parent29,
.outline-like-heart2 {
  top: 108px;
  left: 480px;
}

.outline-like-heart2 {
  top: 75px;
  left: 300px;
  border-radius: var(--br-8xs);
  width: 24px;
  height: 24px;
}

.group-parent30,
.vector-stroke-icon {
  position: absolute;
  top: 108px;
  left: 870px;
  width: 351px;
  height: 121px;
  overflow: hidden;
}

.vector-stroke-icon {
  height: 15.47%;
  width: 6.13%;
  top: 61.98%;
  right: 7.83%;
  bottom: 22.55%;
  left: 86.04%;
  max-width: 100%;
  max-height: 100%;
}

.group-parent31,
.outline-like-heart3 {
  position: absolute;
  top: 269px;
  left: 481px;
  width: 351px;
  height: 121px;
  overflow: hidden;
}

.outline-like-heart3 {
  top: 75px;
  left: 301px;
  border-radius: var(--br-8xs);
  width: 24px;
  height: 24px;
}

.group-parent32,
.group-parent33,
.outline-like-heart5 {
  position: absolute;
  top: 430px;
  left: 482px;
  width: 351px;
  height: 121px;
  overflow: hidden;
}

.group-parent33,
.outline-like-heart5 {
  top: 269px;
  left: 870px;
}

.outline-like-heart5 {
  top: 75px;
  left: 296px;
  border-radius: var(--br-8xs);
  width: 24px;
  height: 24px;
}

.group-parent34 {
  position: absolute;
  top: 430px;
  left: 874px;
  width: 351px;
  height: 121px;
  overflow: hidden;
}
.bestjob1{
  display: flex;
  justify-content: center;
  
}
.rectangle-parent29 {
  position: absolute;
  top: 2260px;
  left: -17px;
  width: 100%;
  height: 676px;
  font-size: var(--font-size-2xs);
  color: var(--color-black);
}

.homepage-child15 {
  position: absolute;
  height: 6.04%;
  width: 29.53%;
  top: 49.05%;
  right: 34.84%;
  bottom: 44.91%;
  left: 35.63%;
  border-radius: 50%;
  background: radial-gradient(50% 50%at 50% 50%,
      rgba(250, 77, 4, 0.54),
      rgba(255, 153, 79, 0));
}

.frame-icon1 {
  position: absolute;
  top: 3094px;
  left: 533px;
  width: 213px;
  height: 288px;
  overflow: hidden;
}

.mdithunder-icon,
.phheart-fill-icon {
  position: absolute;
  top: 3467px;
  left: 498px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.phheart-fill-icon {
  top: 3128px;
  left: 256px;
}

.homepage-child16,
.homepage-child17 {
  position: absolute;
  top: 3914px;
  left: 54px;
  width: 500px;
  height: 134px;
}

.homepage-child17 {
  top: 4074px;
  left: 874px;
}

.group-child88,
.homepage-child18 {
  position: absolute;
  top: 3992px;
  left: 202px;
  width: 75%;
  height: 66px;
}

.group-child88 {
  top: 2px;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-1);
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  width: 772px;
  height: 342px;
}

.div5 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 58px;
}

.div5,
.div6,
.group {
  position: absolute;
  height: 165px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}

.div6 {
  top: 0;
  left: -70px;
  display: inline-block;
  width: 58px;
}

.group {
  top: 165px;
  left: 468px;
  width: 128px;
}

.nhm-ti-findpro-container {
  position: absolute;
  top: 95px;
  left: 90px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-darkslategray-100);
}

.image-9-icon {
  position: absolute;
  top: 183px;
  left: 340px;
  width: 92px;
  height: 90px;
  object-fit: cover;
}

.rectangle-parent39 {
  position: absolute;
  top: 3866px;
  left: 365px;
  width: 772px;
  height: 344px;
  text-align: center;
  font-size: var(--font-size-261xl);
  color: var(--color-gainsboro-100);
  font-family: var(--font-port-lligat-sans);
}

.xy-dng-nhm-container {
  position: absolute;
  top: 3714px;
  left: 55px;
  font-size: var(--font-size-11xl);
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 99px;
}

.group-child89 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--neutral-1);
  box-shadow: 0 2px 10px rgba(234, 120, 80, 0.45);
  width: 80px;
  height: 80px;
}

.mingcutesearch-3-line-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.job-search {
  position: absolute;
  top: 99px;
  left: 3px;
}

.rectangle-parent40 {
  position: absolute;
  top: 4491px;
  left: 132px;
  width: 84px;
  height: 119px;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-google-sans);
}

.group-child90 {
  position: absolute;
  top: 0;
  left: 18px;
  border-radius: var(--br-smi);
  background-color: var(--neutral-1);
  box-shadow: 0 2px 10px rgba(234, 120, 80, 0.45);
  width: 80px;
  height: 80px;
}

.in-app-communication-container {
  position: absolute;
  top: 99px;
  left: 0;
}

.phchat-circle-dots-light-icon {
  position: absolute;
  top: 16px;
  left: 34px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.rectangle-parent41 {
  position: absolute;
  top: 4491px;
  left: 310px;
  width: 116px;
  height: 139px;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-google-sans);
}

.group-child91 {
  position: absolute;
  top: 0;
  left: 5px;
  border-radius: var(--br-smi);
  background-color: var(--neutral-1);
  box-shadow: 0 2px 10px rgba(234, 120, 80, 0.45);
  width: 80px;
  height: 80px;
}

.fluentribbon-star-20-regular-icon {
  position: absolute;
  top: 16px;
  left: 21px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.rectangle-parent42 {
  position: absolute;
  top: 4491px;
  left: 520px;
  width: 91px;
  height: 119px;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-google-sans);
}

.group-child92 {
  position: absolute;
  top: 0;
  left: 8px;
  border-radius: var(--br-smi);
  background-color: var(--neutral-1);
  box-shadow: 0 2px 10px rgba(234, 120, 80, 0.45);
  width: 80px;
  height: 80px;
}

.mdicloud-print-outline-icon {
  position: absolute;
  top: 16px;
  left: 24px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.rectangle-parent43 {
  position: absolute;
  top: 4491px;
  left: 705px;
  width: 96px;
  height: 139px;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-google-sans);
}

.payment {
  position: absolute;
  top: 99px;
  left: 8px;
}

.rectangle-parent44 {
  position: absolute;
  top: 4491px;
  left: 895px;
  width: 80px;
  height: 119px;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-google-sans);
}

.group-child95,
.interview-schedule {
  position: absolute;
  top: 99px;
  left: 6px;
}

.group-child95 {
  top: 53px;
  left: 55px;
  border-radius: 50%;
  background-color: var(--color-coral);
  width: 15px;
  height: 15px;
}

.charmtick-icon8 {
  position: absolute;
  top: 55px;
  left: 57px;
  width: 11px;
  height: 11px;
  overflow: hidden;
}

.rectangle-parent45 {
  position: absolute;
  top: 4491px;
  left: 1069px;
  width: 80px;
  height: 139px;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-google-sans);
}

.chuyn-i-tm-container {
  position: absolute;
  top: 4374px;
  left: 177px;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  text-align: center;
}

.homepage-child19 {
  position: absolute;
  top: 4690px;
  left: 0;
  background-color: var(--color-snow);
  width: 100%;
  height: 847px;
}

.cc-doanh-nghip {
  position: absolute;
  top: 4757px;
  left: 338px;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  text-align: center;
}

.group-child96 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-1);
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15);
  width: 293px;
  height: 254px;
}

.true-connect {
  position: absolute;
  top: 113px;
  left: calc(50% - 66.5px);
  font-weight: 500;
}

.rectangle-parent46,
.rectangle-parent47 {
  position: absolute;
  top: 4863px;
  left: 99px;
  width: 293px;
  height: 254px;
  text-align: center;
}

.rectangle-parent47 {
  left: 500px;
}

.rectangle-parent48,
.rectangle-parent49,
.rectangle-parent50,
.rectangle-parent51 {
  position: absolute;
  top: 4863px;
  left: 901px;
  width: 293px;
  height: 254px;
  text-align: center;
}

.rectangle-parent49,
.rectangle-parent50,
.rectangle-parent51 {
  top: 5193px;
  left: 99px;
}

.rectangle-parent50,
.rectangle-parent51 {
  left: 500px;
}

.rectangle-parent51 {
  left: 901px;
}

.homepage-child20,
.homepage-child21 {
  position: absolute;
  top: 5537px;
  left: 0;
  background-color: var(--color-darkslategray-200);
  width: 100%;
  height: 184px;
}

.homepage-child21 {
  top: 5721px;
  background-color: var(--color-gray-400);
  height: 536px;
}

.terms-conditions3 {
  text-decoration: underline;
}

.copyright-findpro-2022-container3 {
  position: absolute;
  top: 6192px;
  left: 309px;
  font-weight: 500;
  font-family: var(--font-google-sans);
  color: var(--neutral-1);
}

.bn-ang-cn3,
.hy-cho-chng3 {
  position: absolute;
  top: 5573px;
  left: 141px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  color: var(--neutral-1);
}

.hy-cho-chng3 {
  top: 5642px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
}

.nh-tuyn-dng3 {
  position: absolute;
  top: 5761px;
  left: 52px;
  font-weight: 600;
  color: var(--color-darkgray-200);
}

.ng-vin3,
.t-lch3,
.thu-ng-vin3 {
  position: absolute;
  top: 5831px;
  left: 52px;
  font-weight: 500;
  color: var(--neutral-1);
}

.ng-vin3,
.t-lch3 {
  top: 5906px;
}

.ng-vin3 {
  top: 5761px;
  left: 347px;
  font-weight: 600;
  color: var(--color-darkgray-200);
}

.cng-ty7,
.ng-nhp4,
.ng-tuyn-cng3 {
  position: absolute;
  top: 5831px;
  left: 347px;
  font-weight: 500;
  color: var(--neutral-1);
}

.cng-ty7,
.ng-nhp4 {
  top: 5906px;
}

.cng-ty7 {
  top: 5761px;
  left: 637px;
  font-weight: 600;
  color: var(--color-darkgray-200);
}

.lin-h3,
.thng-bo3 {
  left: 637px;
  font-weight: 500;
}

.thng-bo3 {
  position: absolute;
  top: 5831px;
  color: var(--neutral-1);
}

.lin-h3 {
  top: 5906px;
}

.cch-thu3,
.findplus7,
.lin-h3,
.phn-hi-khch3 {
  position: absolute;
  color: var(--neutral-1);
}

.findplus7 {
  top: 5754px;
  left: 841px;
  font-size: var(--font-size-16xl);
}

.cch-thu3,
.phn-hi-khch3 {
  top: 5981px;
  left: 52px;
  font-weight: 500;
}

.cch-thu3 {
  top: 6056px;
}

.icbaseline-facebook-icon3 {
  position: absolute;
  top: 5977px;
  left: 841px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}

.mdilinkedin-icon3,
.mditwitter-icon3,
.phinstagram-logo-fill-icon3 {
  position: absolute;
  top: 5975px;
  left: 898px;
  width: 38px;
  height: 38px;
  overflow: hidden;
}

.mdilinkedin-icon3,
.mditwitter-icon3 {
  top: 5977px;
  left: 958px;
}

.mdilinkedin-icon3 {
  left: 1018px;
}

.quan-tm-wrapper1 {
  position: absolute;
  top: 5602px;
  left: 1032px;
  border-radius: var(--br-9xs);
  background-color: var(--neutral-1);
  display: flex;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-11xl);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-lg);
  color: var(--color-gray-300);
  font-family: var(--body-regular);
}

.deha-logo-removebg-preview-1-icon {
  position: absolute;
  top: 632px;
  left: 596px;
  width: 187px;
  height: 97px;
  object-fit: cover;
}

.logo-bravo-1-3824fa14-8251-410-icon {
  position: absolute;
  top: 860px;
  left: 576px;
  width: 238px;
  height: 40px;
  object-fit: cover;
}

.gii-php-danh-container,
.l-mt-trong-container,
.misa-mong-mun-container,
.vi-bravo-con-container {
  position: absolute;
  top: 741px;
  left: 560px;
  font-size: var(--font-size-smi);
  line-height: 16px;
  color: var(--color-gray-200);
}

.gii-php-danh-container,
.misa-mong-mun-container,
.vi-bravo-con-container {
  top: 686px;
  left: 886px;
  text-align: justify;
}

.gii-php-danh-container,
.vi-bravo-con-container {
  top: 892px;
  left: 896px;
}

.vi-bravo-con-container {
  top: 919px;
  left: 564px;
}

.outline-like-heart6,
.outline-like-heart7 {
  position: absolute;
  top: 2441px;
  left: 375px;
  border-radius: var(--br-8xs);
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.outline-like-heart7 {
  top: 2443px;
  left: 766px;
}

.logo-01-1-icon {
  position: absolute;
  top: 4897px;
  left: 213px;
  width: 64px;
  height: 72px;
  object-fit: cover;
}

.logo-01-1-icon1,
.logo-01-1-icon2,
.logo-01-1-icon3,
.logo-01-1-icon4,
.logo-01-1-icon5 {
  position: absolute;
  top: 4897px;
  left: 614px;
  width: 64px;
  height: 72px;
  object-fit: cover;
}

.logo-01-1-icon2,
.logo-01-1-icon3,
.logo-01-1-icon4,
.logo-01-1-icon5 {
  left: 1015px;
}

.logo-01-1-icon3,
.logo-01-1-icon4,
.logo-01-1-icon5 {
  top: 5227px;
  left: 213px;
}

.logo-01-1-icon4,
.logo-01-1-icon5 {
  left: 614px;
}

.logo-01-1-icon5 {
  left: 1015px;
}

.cng-ty-cng-container,
.cng-ty-cng-container1,
.cng-ty-cng-container2 {
  position: absolute;
  top: 5018px;
  left: 126px;
  font-size: var(--font-size-base);
  text-align: center;
}

.cng-ty-cng-container1,
.cng-ty-cng-container2 {
  left: 527px;
}

.cng-ty-cng-container2 {
  left: 928px;
}

.cng-ty-cng-container3,
.cng-ty-cng-container4,
.cng-ty-cng-container5 {
  position: absolute;
  top: 5348px;
  left: 126px;
  font-size: var(--font-size-base);
  text-align: center;
}

.cng-ty-cng-container4,
.cng-ty-cng-container5 {
  left: 527px;
}

.cng-ty-cng-container5 {
  left: 928px;
}

.thu-cc-nh3 {
  position: absolute;
  top: 5824px;
  left: 830px;
  color: var(--neutral-1);
  display: inline-block;
  width: 432px;
}

.c-lin-h-container,
.tm-kim-c-container {
  position: absolute;
  top: 308px;
  left: 702px;
  font-size: var(--font-size-xs);
  line-height: 14px;
  color: var(--color-gray-100);
}

.tm-kim-c-container {
  top: 413px;
}

.line-duotone-nature-travel {
  position: absolute;
  top: 402px;
  left: 655px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}

.homepage {
  position: relative;
  background-color: var(--neutral-1);
  width: 100%;
  height: 6257px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
.all-job {
  width: 200px;
  height: 100px;
  background-color: #e6f9ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  
}

.logo-salary {
  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 5px;
}

.info-job {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.job {
  margin: 0;
}

.toggle-button {
  align-self: flex-end;
}